.header {
    font-family: 'Open Sans', sans-serif;
    background: wheat;
    margin: 20px 20px;
    font-weight: 700;
    font-size: 20px;


}

.banner {
    margin: 0 100px;
    display: flex;
    height: 100%;


}



.image {
    width: 100%;

    margin-right: 40px;


}

.span {
    color: darkmagenta;
}

.banner-description {
    color: brown;
}

.btn-primary {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 0;
    width: 100px;
    background-color: bisque;

}

.image {
    margin-bottom: 50px;
}

.main-section {
    display: flex;
    margin-top: 150px;
    align-items: center
}

.sub-des {
    font-weight: 800;
    color: royalblue;
}

.description {
    font-weight: 700;
    font-size: 20px;
    margin 50px;
}



.paragraf {
    color: darkolivegreen;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.my-plan {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 70px;
    color: darkblue;


}

.btn {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 0;
    width: 100px;
    background-color: bisque;
    margin-top: 150px;
    margin-left: 30px;
}

.blend {
    background: url(../images/watch.png);
    background-repeat: no-repeat;
    height: 600px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    margin-top: 50px;


}



.keep {
    position: absolute;
    margin-top: 100px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
}

.future {
    display: flex;
    padding: 100px;
    background-color: black;
    color: aliceblue;
}

.future .section-title {
    text-align: left;
}

.future input {
    margin-bottom: 10px;
    border: 0;
    width: 100%;
    padding-left: 30px;

}